<!DOCTYPE html>
<html>
<head>
  <title>{{ pagetitle }}</title>
  <link rel="stylesheet"
        href="{{ request.static_url('myaddon:static/bootstrap.min.css') }}"/>
  <link rel="stylesheet"
        href="{{ request.static_url('myaddon:static/site.css') }}"/>
  <link rel="stylesheet"
        href="{{ request.static_url('myaddon:static/custom.css') }}"/>
</head>
<body>
<div class="container">
  <div class="row">
    <img alt="Logo"
         src=" {{ request.static_url('myaddon:static/logo.png') }}"/>
  </div>
  <div class="row">
    {% include "myaddon:templates/heading.jinja2" %}
  </div>

  <div class="row">
    {% block content %}
    {% endblock content %}
  </div>

  <div class="row">
    <p>You can also go to <a href="{{ request.route_url(otherroute) }}">the
      next page</a>.</p>
  </div>

</div>
</body>
</html>
